{% extends 'base.html.twig' %}

{% block title %}Recettes EASY{% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.username, {'label': "Nom d'utilisateur",'attr': {'placeholder': 'Entrez votre pseudo'}})}}
    {{ form_row(form.email, {'label': "Adresse mail",'attr': {'placeholder': 'Entrez votre adresse mail'}})}}
    {{ form_row(form.password, {'label': "Mot de passe",'attr': {'placeholder': 'Entrez votre mdp'}})}}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form)}}
{% endblock %}
