{% extends 'base.html.twig' %}

{% block title %}Patiss'Easy{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div style="display: flex;">
        <a href="{{ path('recettes', {idCateg:3}) }}">
            <div class="card mb-3" style="width: 200px;margin-right: 20px;">
                
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" 
                style="font-size:1.125rem;text-anchor:middle;background-image: url('/image/categorie/test.png'); background-position: center;opacity: 45%;background-repeat: no-repeat;background-size: cover;">
                    <text x="50%" y="50%" fill="white" dy=".3em" style="font-weight: bold; text-shadow: 3px 3px 4px black;">Recettes EASY</text>
                </svg>
                
            </div>
        </a>
        <a href="{{ path('recetteTheme') }}">
            <div class="card mb-3" style="width:200px;margin-right: 20px;">
                
                <svg  xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" 
                style="font-size:1.125rem;text-anchor:middle; background-image: url('/image/general/theme.jpg'); background-position: upset;opacity: 45%;">
                    <text x="50%" y="50%" fill="white" dy=".3em" style="font-weight: bold; text-shadow: 3px 3px 4px black;">Recette par thème</text>
                </svg>
                
            </div>
        </a>
        <a href="{{ path('recetteCategorie') }}">
            <div class="card mb-3" style="width:  200px;margin-right: 20px;">
                
                <svg  xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" 
                style="font-size:1.125rem;text-anchor:middle; background-image: url('/image/general/categ.jpg'); background-position: center;opacity: 45%;">
                    <text x="50%" y="50%" fill="white" dy=".3em" style="font-weight: bold; text-shadow: 3px 3px 4px black;">Recette par catégorie</text>
                </svg>
                
            </div>
        </a>
        <a href="{{ path('recettes') }}">
            <div class="card mb-3" style="width:200px;margin-right: 20px;">
                
                <svg  xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" 
                style="font-size:1.125rem;text-anchor:middle; background-image: url('/image/general/astuce.jpg'); background-position: center;opacity: 45%;">
                    <text x="50%" y="50%" fill="white" dy=".3em" style="font-weight: bold; text-shadow: 3px 3px 4px black;">Trucs et Astuces</text>
                </svg>
                
            </div>
        </a>
    </div>

    <h1>Dernières publications</h1>

    <div style="display: flex;">
   
        {% for recette in dernieresRecettes %}
            <a href="{{  path('recetteById', {id: recette.idRecette}) }}" style="text-decoration:none;color:black!important;">
                <div class="card mb-3" style="width: 200px;margin-right: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="black" dy=".3em">{{ recette.recette  }}</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ recette.descriptionRecette |u.truncate(60, " Voir plus...") }}</p>
                    </div>
            </a>
                    <div class="card-footer text-muted">
                        Publié le {{ recette.datePublication | date("d/m/Y") }}
                    </div>
                </div>
            
        {% endfor %}
                
                
                
                
            </div>
</div>
{% endblock %}
