{% extends 'base.html.twig' %}

{% block title %}Recette
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="example-wrapper">
		<div style="display: flex;">
			<div class="card mb-3" style="width: 100rem;">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<ol class="carousel-indicators">
						{% set i=0 %}	
						{% for img in infoRecette.images %}
													
								<li data-target="#carouselExampleIndicators" data-slide-to="{{i}}" class="{% if loop.first %} active{% endif %}"></li>
							{% set i= i+1 %}	
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for img in infoRecette.images %}
							<div class="carousel-item {% if loop.first %} active{% endif %} "> 
							
								<img src="{{img}}" class="d-block w-100" alt="...">
							</div>
						{% endfor %}
						
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	

	
		<div style="border: 1px solid black; background-color: grey;top: 0;padding: 5px;">
			<p>Matériel:
			</p>
			<ul>
				{% for ustensile in infoRecette.Idustensile %}
					<li>{{ ustensile.ustensile }}
					</li>
				{% endfor %}
			</ul>

		</div>
		<div style="position: sticky;position: -webkit-sticky;position: sticky;top: 0;padding: 5px; background-color: white;box-shadow: grey 1px 1px 5px;">
			<p>Ingrédients:</p>
		
			<ul>
				{% for ing in infoRecette.recetteIngredient %} 
					<li>{{ ing.quantite }}{{ ing.unite }} de {{ ing.iding.ingredient }}</li>
				{% endfor %}
			</ul>

		</div>
		<div class="jumbotron">
			<h1 class="display-3">{{ infoRecette.recette}}</h1>
			<p class="lead">{{ infoRecette.petitePhrase}}</p>
			<hr class="my-4">
			<p>{{ infoRecette.descriptionrecette}}</p>
			<p class="lead">


				Préparation:
				<br>
				{{ preparation.etape |nl2br }}

			</p>
		</div>

		
		<div class="card mb-3" style="max-width: 50rem;border-color: #eb6864;">
			<div class="card-header">Trucs et astuces de la recette</div>
			<div
				class="card-body">
				{# <h4 class="card-title">Astuce </h4> #}
				
					
				
				{% for astuce in infoRecette.idAstuce %}
				<a href="">
					<p class="card-text">{{ astuce.astuce }}</p>
				</a>
				{% endfor %}
				
			</div>
		</div>
	


</div>
</div>{% endblock %}
