<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Patiss'easy
			{% endblock %}
		</title>

		{# bootstrap #}
		<script src="/bootstrap/jquery.slim.min.js"></script>
		<script src="/bootstrap/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


		{# DataTable #}
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

		{# select #}
		<!-- Latest compiled and minified CSS -->
		<link
		rel="stylesheet" href="/select/bootstrap-select.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="/select/bootstrap-select.min.js"></script>


		<link href="/css/body/bootstrap.min.css" rel="stylesheet"> {% block javascripts %}{% endblock %}
		</head>
		<body>
			<div class="card bg-dark text-white" style="border: 0px;background-color: white!important;">
				<img src="/image/general/logo.jpg" class="card-img" alt="..." style="height: 30rem;object-fit: contain;">
				<div class="card-img-overlay">
					<h5 class="card-title">Patiss'Easy</h5>
					<p>La patisserie qui fait Envie, Abordable et So Yummy !
					</p>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #eb6864;">
				{# <a class="navbar-brand" href="{{ path('index') }}">Patiss'Easy</a> #}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto" style="margin: auto;">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('index') }}">Accueil
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('recettes', {idCateg:3}) }}">Recettes easy</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recettes par thème</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('recettesTheme', {id:1}) }}">Anniversaire</a>
								<a class="dropdown-item" href="{{ path('recettesTheme', {id:2}) }}">Noêl</a>
								<a class="dropdown-item" href="{{ path('recettesTheme', {id:3}) }}">Pâques</a>

							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('recetteCategorie') }}" role="button" aria-haspopup="true" aria-expanded="false">Recettes par catégorie</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('recettes', {idCateg:1}) }}">Cakes</a>
								<a class="dropdown-item" href="{{ path('recettes', {idCateg:2}) }}">Macarons</a>
								<a class="dropdown-item" href="{{ path('recettes', {idCateg:3}) }}">Easy</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Trucs et astuces</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('contact') }}">Contact
							</a>
						</li>
						{% if app.user  %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('admin') }}">Ajouter une recette
								</a>
							</li>
						{% endif %}

					</ul>

					{% if not app.user  %}
						<a href="{{ path('securityLogin') }}" style="color: white!important;">Connexion</a>
					{% else %}
						<a href="{{ path('securityLogout') }}" style="color: white!important;">Deconnexion</a>
					{% endif %}

				</div>
			</nav>
			{% block body %}{% endblock %}
		</body>
	</html>
